body{
  height: 80vh;
  background-color: rgb(18, 18, 18);
  justify-items: center;
  align-content: center;
}

#formulario{
  width: 40vw;
  padding: 1vw;
  background-color: rgb(238, 238, 238);
  justify-items: center;
  border-radius: 15px;
}

.form-group {
    margin-bottom: 15px;
  }
  
  label {
    text-align: center;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  