body{
  background-color: #212121;
  color: white;
}

.container {
  margin: 0 auto;
  text-align: center;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

button {
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4a4a4a;
  color: #fff;
  border: none;
  cursor: pointer;
}

#results{
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

#results div{
  background-color: rgb(233, 233, 233);
  color: black;
  margin: 20px;
  padding: 0 15px 0 15px;
  border: 8px outset rgb(255, 255, 255);
  box-shadow: 7px 7px 7px rgb(49, 49, 49);
}

#results h1{
  margin-top: 40px;
  text-align: center;
}

#results p{
  text-align: center;
  font-size: 0.85rem;
}

#results .description{
  text-align: justify;
}

#results img{
  width: 80%;
  margin-bottom: 20px;
}