h3{
    text-align: center;
    color: rgb(95, 95, 95);
    margin-bottom: 2%;
}

/* !Saludo usuario */
.saludoUsuario form{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saludoUsuario input[type="text"]{
    padding: 1%;
    width: 30%;
    border: 2px solid black;
}

.saludoUsuario input[type="submit"]{
    margin-top: 2%;
    width: 10%;
    height: 4vh;
    background-color: rgb(21, 21, 21);
    color: white;
    border: 1px solid white;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s, border-color 0.4s;
}

.saludoUsuario input[type="submit"]:hover{
    background-color: white;
    color: black;
    border-color: black;
}

/* !Media de tres numeros */
